{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corações em Patas</title>
    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    
    <!-- Lucide Icons -->
    <script src="https://unpkg.com/lucide@latest"></script>
    <link rel="stylesheet" href="{% static "style/base.css" %}">
</head>
<body class="bg-gray-50 text-gray-800 overflow-x-hidden">
    {% block content %}
    {% block header %}{% endblock %}
    {% block aside %}{% endblock %}
    {% endblock %}
    {% block footer %}{% endblock %}
    {% block scripts %}{% endblock %}
    <script src="{% static "scripts/tailwind.config.js" %}"></script>
</body>
</html>